Repository mcost45/tune: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --loglevel warn, eslint --fix

.lintstagedrc.json:

{
	"*.{md,json,yml,scss,css}": "prettier --write --loglevel warn",
	"*.{html,ts,js}": "eslint --fix"
}

Update deps
  package-lock.json
  package.json
Due: prettier --write --loglevel warn

Feed implementation started
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/core/services/authentication/access-token.service.ts
  src/app/core/services/authentication/auth-callback.service.ts
  src/app/core/services/authentication/auth-init.service.ts
  src/app/core/services/authentication/auth-storage.service.ts
  src/app/core/services/login.service.ts
  src/app/core/services/spotify.service.ts
  src/app/core/services/utility/log.service.ts
  src/app/core/utility/wait-time.ts
  src/app/domain/authentication/access-token-init-keys.ts
  src/app/domain/authentication/access-token-refresh-keys.ts
  src/app/domain/authentication/auth-init-keys.ts
  src/app/domain/authentication/spotify-call-keys.ts
  src/app/domain/authentication/token-set-keys.ts
  src/app/feed/components/feed-card/feed-card.component.html
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-card/feed-card.component.ts
  src/app/feed/components/feed-list/feed-list.component.html
  src/app/feed/components/feed-list/feed-list.component.scss
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/components/feed.module.ts
  src/app/feed/components/list/list.component.html
  src/app/feed/components/list/list.component.ts
  src/app/feed/services/feed-storage.service.ts
  src/app/feed/services/feed.service.ts
  src/app/routing/components/pages/feed/feed.page.html
  src/app/shared/components/profile-button/profile-button.component.ts
Due: prettier --write --loglevel warn, eslint --fix

Feed implementation continued
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/core/services/authentication/auth-callback.service.ts
  src/app/core/services/authentication/auth-storage.service.ts
  src/app/core/services/login.service.ts
  src/app/core/services/spotify.service.ts
  src/app/core/services/user.service.ts
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/components/feed.module.ts
  src/app/feed/services/feed-storage.service.ts
  src/app/feed/services/feed.service.ts
  src/app/routing/app-routing.module.ts
  src/app/shared/components/profile-button/profile-button.component.html
  src/app/shared/components/profile-button/profile-button.component.ts
  src/app/shared/components/profile-menu/profile-menu.component.ts
  src/app/shared/pipes/css-url.pipe.ts
  tsconfig.json
Due: prettier --write --loglevel warn, eslint --fix

Feed implementation continued & auth improvements
  .eslintrc.json
  package-lock.json
  package.json
  src/app/core/services/authentication/auth-storage.service.ts
  src/app/core/services/spotify.service.ts
  src/app/core/services/user.service.ts
  src/app/feed/components/feed-card/feed-card.component.html
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-card/feed-card.component.ts
  src/app/feed/components/feed-list/feed-list.component.html
  src/app/feed/components/feed-list/feed-list.component.scss
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/domain/random-seed-ids.ts
  src/app/feed/domain/spotify-call-keys.ts
  src/app/feed/services/feed-seed.service.ts
  src/app/feed/services/feed-storage.service.ts
  src/app/feed/services/feed.service.ts
  src/app/routing/app-routing.module.ts
  src/app/routing/app-title-strategy.ts
  src/app/routing/components/pages/login-failed/login-failed.page.html
  src/app/routing/components/pages/not-found/not-found.page.html
  src/app/utility/random-int-in-range.ts
  src/app/utility/shuffled.ts
  src/app/utility/wait-parallel.ts
  src/app/utility/wait-time.ts
  src/assets/ii8n/en.json
Due: prettier --write --loglevel warn, eslint --fix

Initial card visualisations
  src/app/core/services/authentication/access-token.service.ts
  src/app/core/services/has-interacted.service.ts
  src/app/core/services/spotify.service.ts
  src/app/feed/components/feed-card/feed-card.component.html
  src/app/feed/components/feed-list/feed-list.component.html
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/components/pipes/artist-image.pipe.ts
  src/app/feed/components/pipes/artist-names.pipe.ts
  src/app/feed/components/pipes/card-offset.pipe.ts
  src/app/feed/components/pipes/track-image.pipe.ts
  src/app/feed/domain/recommended-card.ts
  src/app/shared/pipes/background-url.pipe.ts
  src/app/shared/pipes/comma-join.pipe.ts
  src/app/utility/run-in-zone.ts
  src/variables.scss
Due: prettier --write --loglevel warn, eslint --fix

Extra card visualisations
  src/app/core/services/authentication/access-token.service.ts
  src/app/core/services/authentication/auth-callback.service.ts
  src/app/core/services/authentication/auth-init.service.ts
  src/app/core/services/authentication/auth-storage.service.ts
  src/app/core/services/login.service.ts
  src/app/core/services/spotify.service.ts
  src/app/core/services/user.service.ts
  src/app/feed/components/pipes/acousticness-category.pipe.ts
  src/app/feed/components/pipes/danceability-category.pipe.ts
  src/app/feed/components/pipes/energy-category.pipe.ts
  src/app/feed/components/pipes/loudness-category.pipe.ts
  src/app/feed/components/pipes/popularity-category.pipe.ts
  src/app/shared/domain/utility/app-config.ts
  src/app/shared/domain/utility/auth-config.ts
  src/app/shared/domain/utility/category-config.ts
  src/app/shared/domain/utility/log-level.ts
  src/app/shared/pipes/background-css.pipe.ts
  src/app/shared/pipes/background-fade-css.pipe.ts
  src/app/shared/pipes/background-url-css.pipe.ts
  src/app/shared/pipes/background-url.pipe.ts
  src/app/shared/pipes/image-colour-element.pipe.ts
  src/app/shared/pipes/image-colour-url.pipe.ts
  src/app/shared/pipes/sanitize-resource-url.pipe.ts
  src/app/shared/pipes/truncate-string.pipe.ts
  src/app/shared/services/average-colour.service.ts
  src/app/shared/services/interacted.service.ts
  src/app/shared/services/utility/config.service.ts
  src/app/shared/services/utility/log.service.ts
  src/app/utility/run-outside-zone.ts
  src/vars.scss
Due: prettier --write --loglevel warn, eslint --fix

Interaction required overlay and more cleaning
  package.json
  src/app/app.module.ts
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-list/feed-list.component.html
  src/app/feed/components/feed-list/feed-list.component.scss
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/routing/components/pages/home/home.page.html
  src/app/shared/components/footer/footer.component.html
  src/app/shared/components/footer/footer.component.scss
  src/assets/ii8n/en.json
  src/theme/ion-variables.scss
  src/vars.scss
Due: prettier --write --loglevel warn, eslint --fix

Setup firebase
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  package-lock.json
  package.json
Due: prettier --write --loglevel warn

Update icons
  .firebase/hosting.d3d3.cache
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
Due: none

Fix build deploy action
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  package-lock.json
  package.json
Due: prettier --write --loglevel warn

Fix asset urls
  src/app/routing/components/pages/home/home.page.html
  src/index.html
Due: eslint --fix

Initial README
  README.md
Due: prettier --write --loglevel warn

Add basic SEO
  src/index.html
Due: eslint --fix

Further comply with Spotify usage terms
  src/app/core/services/user.service.ts
  src/app/feed/components/feed-card/feed-card.component.html
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/components/feed.module.ts
  src/app/feed/components/pipes/artist-image.pipe.ts
  src/app/feed/components/pipes/track-link.pipe.ts
  src/app/feed/services/feed.service.ts
  src/assets/env.json
  src/assets/ii8n/en.json
  src/assets/spotify-logo.png
  src/vars.scss
Due: prettier --write --loglevel warn, eslint --fix

Fix iOS performance, fix event listener leak
  .eslintignore
  .firebase/hosting.d3d3.cache
  angular.json
  package-lock.json
  package.json
  src/app/feed/components/feed-card/feed-card.component.html
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-card/feed-card.component.ts
  src/app/feed/components/feed-list/feed-list.component.html
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/components/pipes/card-offset.pipe.ts
  src/app/feed/services/audio.service.ts
  src/app/routing/app-routing.module.ts
  src/app/routing/app-title-strategy.service.ts
  src/app/routing/components/pages/home/home.page.html
  src/app/routing/components/pages/home/home.page.scss
  src/app/shared/domain/average-colour-worker-action.ts
  src/app/shared/domain/average-colour-worker-message.ts
  src/app/shared/domain/deferred-promise.ts
  src/app/shared/domain/utility/playback-config.ts
  src/app/shared/pipes/image-colour-element.pipe.ts
  src/app/shared/pipes/reverse-list.pipe.ts
  src/app/shared/services/average-colour.service.ts
  src/app/shared/services/haptic.service.ts
  src/app/shared/shared.module.ts
  src/app/shared/workers/average-colour.worker.ts
  src/app/utility/bitmap-to-array.ts
  src/app/utility/get-deferred-promise.ts
  src/app/utility/rgb-to-hex.ts
  src/app/utility/url-to-bitmap.ts
  src/app/utility/wait-time.ts
  src/assets/env.json
  src/assets/scripts/unmute.min.js
  src/assets/spotify-logo.png
  src/polyfills.ts
  src/vars.scss
  tsconfig.worker.json
Due: prettier --write --loglevel warn, eslint --fix

Update deps
  package-lock.json
  package.json
  src/app/routing/components/pages/home/home.page.scss
Due: prettier --write --loglevel warn

Additional cleaning, and fallback for unsupported OffscreenCanvas
  src/app/core/domain/authentication/access-token-init-keys.ts
  src/app/core/domain/authentication/access-token-init-props.ts
  src/app/core/domain/authentication/access-token-refresh-keys.ts
  src/app/core/domain/authentication/access-token-refresh-props.ts
  src/app/core/domain/authentication/auth-callback-props.ts
  src/app/core/domain/authentication/auth-init-keys.ts
  src/app/core/domain/authentication/auth-init-props.ts
  src/app/core/domain/authentication/auth-storage-props.ts
  src/app/core/domain/authentication/token-set-keys.ts
  src/app/core/domain/authentication/token-set-props.ts
  src/app/core/services/authentication/access-token.service.ts
  src/app/core/services/authentication/auth-callback.service.ts
  src/app/core/services/authentication/auth-init.service.ts
  src/app/core/services/authentication/auth-storage.service.ts
  src/app/feed/components/feed-card/feed-card.component.html
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-card/feed-card.component.ts
  src/app/feed/components/feed-list/feed-list.component.html
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/services/audio.service.ts
  src/app/feed/services/feed.service.ts
  src/app/routing/components/auth-callback/auth-callback.component.ts
  src/app/routing/components/pages/home/home.page.html
  src/app/shared/domain/average-colour-worker-action.ts
  src/app/shared/services/average-colour.service.ts
  src/app/shared/services/interacted.service.ts
  src/app/shared/workers/average-colour.worker.ts
  src/app/utility/bitmap-to-array.ts
  src/app/utility/wait-frame.ts
  src/assets/env.json
  src/assets/images/spotify-logo.png
  src/assets/videos/preview.mp4
  src/assets/videos/preview.webm
  src/vars.scss
Due: prettier --write --loglevel warn, eslint --fix

Expand on README.md, fix action
  .github/workflows/firebase-hosting-merge.yml
  README.md
Due: prettier --write --loglevel warn

Fix duplicate audio bug
  src/app/core/core.module.ts
  src/app/feed/services/audio.service.ts
  src/app/routing/components/auth-callback/auth-callback.component.ts
Due: eslint --fix

Additional clean up
  README.md
  package-lock.json
  package.json
  src/app/core/services/authentication/auth-callback.service.ts
  src/app/core/services/login.service.ts
  src/app/feed/components/feed-card/feed-card.component.scss
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/services/audio.service.ts
  src/app/shared/workers/average-colour.worker.ts
  src/app/utility/bitmap-to-array-offscreen.ts
  src/app/utility/bitmap-to-array.ts
  src/app/utility/unknown-error-to-string.ts
  src/vars.scss
Due: prettier --write --loglevel warn, eslint --fix

Add preview video to README.md
  README.md
Due: prettier --write --loglevel warn

Update README.md
  README.md
Due: prettier --write --loglevel warn

Minor folder structure fix
  src/app/feed/components/feed-list/feed-list.component.ts
  src/app/feed/feed.module.ts
  src/app/feed/pipes/acousticness-category.pipe.ts
  src/app/feed/pipes/artist-image.pipe.ts
  src/app/feed/pipes/artist-names.pipe.ts
  src/app/feed/pipes/card-offset.pipe.ts
  src/app/feed/pipes/danceability-category.pipe.ts
  src/app/feed/pipes/energy-category.pipe.ts
  src/app/feed/pipes/loudness-category.pipe.ts
  src/app/feed/pipes/popularity-category.pipe.ts
  src/app/feed/pipes/track-image.pipe.ts
  src/app/feed/pipes/track-link.pipe.ts
  src/app/routing/components/pages/feed/feed.module.ts
Due: eslint --fix
